{% include 'header.html' %}
{% load static %}

<body>

  <!-- Loader Start -->
  <div class="loader" style="background-color: white;">
    <div class="loader__content">
      <div class="loader__logo slideInDown">
        <!-- Your Logo Here -->
        <img src="{% static 'img/newlogo.png' %}" alt="Axio - Coming Soon Template">
      </div>
      <div class="loader__caption slideInUp">
        <p class="loading-text">Loading</p>
        <span class="loading-dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
      </div>
    </div>
  </div>
  <!-- Loader End -->

  <!-- Custom HTML Start -->

  <!-- Main Section Start-->
  <section id="main" class="section-main">
    <div class="container-fluid p-0 fullheight">
      <div class="row g-0 fullheight">

        <!-- Main Section Intro Start -->
        <div id="intro" class="col-12 col-xl-9 section-main__intro"  style="background-color: aliceblue;">

          <!-- Intro Media Start -->
          <div class="intro__media">

            <!-- Main Section Image Background Start -->
            <div class="media__image media-1"></div>
            <!-- Main Section Image Background End -->

            <!-- Main Section Color Layer Start -->
            <div class="color-layer color-layer-medium"></div>
            <!-- Main Section Color Layer End -->

          </div>
          <!-- Intro Media End -->

          <!-- Intro Header Start -->
          <div class="intro__header">

            <!-- Logo Start -->
            <!-- <div class="logo">
              <img src="{% static 'img/axio-logo.svg' %}"
                alt="Axio - awesome coming soon template to kick-start your project">
            </div> -->
            <!-- Logo End -->

            <!-- Menu Trigger Start - Visible on Mobile -->
            <a href="#0" id="menu-trigger" class="menu-trigger">
              <i class="fa-solid fa-bars"></i>
            </a>
            <!-- Menu Trigger End - Visible on Mobile -->

          </div>
          <!-- Intro Header End -->

          <!-- Navigation Start -->
          <div id="menu" class="menu">

            <!-- Navigation Controls Start - Visible on Mobile -->
            <div class="menu__controls">
              <a href="#0" id="menu-close" class="menu-close section-close">
                <i class="fa-solid fa-xmark"></i>
              </a>
            </div>
            <!-- Navigation Controls End - Visible on Mobile -->


          </div>
          <!-- Navigation End -->

          <!-- Intro Headline Start -->
          <div class="intro__headline">
            <p class="headline__subtitle">We are</p>

            <!-- Animated Headline Start -->
            <h1 class="headline__title clip">
              <span class="words-wrapper">
                <b class="is-visible">TribeLike</b>
                <!-- <b>Adventure</b> -->
                <b>Coming soon</b>
              </span>
            </h1>
            <!-- Animated Headline End -->

            <p class="headline__description" style="font-size:small; font-weight: 600;">TribeLike is a
              cultural, multi diverse, multi vendor market place that is taking fashion brands, boutiques
              and artists to the next level, and gives you the opportunity to buy and sell authentic
              clothing pieces and art from independent brands, boutiques and creatives. TribeLike is the
              bridge that connects the most important aspects of fashion, art and culture together. We are
              one community of different tribes and pride our selves and our brands in authenticity within
              our ecosystem. The world of fashion, art and culture is very unique, as every brand and
              individual has their own vision, but with one mission driving everyone in our community, we
              can be truly be TRIBE LIKE.</p>
          </div>
          <!-- Intro Headline End -->

          <!-- Intro Сopyright Start -->
          <div class="intro__copyright">
            <p class="copyright">From TribeLike
              <i class="fa-solid fa-heart"></i>
              with
              <a href="https://themeforest.net/user/mix_design" target="_blank">Love</a>
            </p>
          </div>
          <!-- Intro Сopyright End -->

        </div>
        <!-- Main Section Intro End -->

        <!-- Main Section Aside Start -->
        <div class="col-12 col-xl-3 section-main__aside" style="background-color: black;">

          <!-- Aside Content Start -->
          <div class="aside__content">
            <p class="aside__title">We are ready to show you what we have in store</p>
            <p class="aside__text">Want to get a heads-up when we launch?</p>
            <a href="#0" id="stayintouch-trigger" class="button button-outline-light">
              <span class="button-caption">Susbcribe</span>
            </a>
          </div>
          <!-- Aside Content End -->

          <!-- Aside Socials Start -->
          <div class="aside__socials">
            <ul class="socials">
              <li>
                <a href="https://instagram.com/tribe_like?igshid=MzRlODBiNWFlZA==" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@tribe.like?_t=8dil9fUqNBV&_r=1" target="_blank">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </li>
            <li>
                <a href="https://youtube.com/@TribeLike" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
            <!-- <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li> -->
            <li>
                <a href="https://twitter.com/tribelikeandco?s=11&t=Q7UIM-uatJItR3W0fA1n_w"
                    target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            </ul>
          </div>
          <!-- Aside Socials End -->

          <!-- Stay-in-Touch Popup Start -->
          <div id="stayintouch" class="stayintouch">

            <!-- Stay-in-touch Controls Start -->
            <div class="stayintouch__controls">
              <a class="button-square button-outline-light section-close" href="#0" id="stayintouch-close">
                <i class="fa-solid fa-xmark"></i>
              </a>
            </div>
            <!-- Stay-in-touch Controls End -->

            <!-- Stay-in-touch Content Start -->
            <div class="stayintouch__content">

              <!-- Stay-in-touch Content Block Title Start -->
              <div class="content-block margin-bottom-s">
                <p class="popup__title light transition-el transition-el-1">Stay in touch</p>
              </div>
              <!-- Stay-in-touch Content Block Title End -->

              <!-- Stay-in-touch Content Block Form Start -->
              <div class="content-block grid-block">
                <div class="form-container">

                  <!-- Reply Messages Start -->
                  <div class="reply-group">
                    <i class="fa-solid fa-circle-check reply-group__icon light"></i>
                    <p class="reply-group__title light">Done!</p>
                    <span class="reply-group__text light">Thanks for your message. We will get back as soon as
                      possible.</span>
                  </div>
                  <!-- Reply Messages End -->

                  <!-- Stay-in-touch Form Start -->
                  <form class="form form-light stayintouch-form" action="{% url 'subscribe' %}" method="POST">
                    {% csrf_token %}
                    <div class="container-fluid px-4">
                        <div class="row gx-5">
                            <div class="col-12">
                                <input class="transition-el transition-el-3" type="email" name="email"
                                    placeholder="Email Address*" required>
                            </div>
                            <div class="col-12">
                                <span class="inputs-description opacity-el opacity-el-1">*Required fields</span>
                                <button class="button button-solid-light transition-el transition-el-5" type="submit">
                                    <span class="button-caption">Subscribe</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                
                  <!-- Stay-in-touch Form End -->

                </div>
              </div>
              <!-- Stay-in-touch Content Block Form End -->

            </div>
            <!-- Stay-in-touch Content End -->

          </div>
          <!-- Stay-in-Touch Popup End -->

        </div>
        <!-- Main Section Aside End -->

      </div>
    </div>
  </section>
  <!-- Main Section End -->

  <!-- Custom HTML End -->


</body>



{% include 'footer.html' %}